<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="refreview.BeneFactorCompilationParticipant"
            createsProblems="false"
            id="RefReview.compilationParticipant1">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.dlf.refactoring.ui.BeforeChangeCodeView"
            id="RefReview.BeforeChangeCodeView"
            name="Code after change"
            restorable="true">
      </view>
      <view
            class="edu.dlf.refactoring.ui.AfterChangeCodeView"
            id="RefReview.AfterChangeCodeView"
            name="Code after change"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.dlf.refactoring.ui.ReviewPerspectiveFactory"
            id="RefReview.CodeReviewPerspective"
            name="Code Review">
      </perspective>
   </extension>
</plugin>
