<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="refreview.BeneFactorCompilationParticipant"
            createsProblems="false"
            id="RefReview.compilationParticipant1">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.dlf.refactoring.ui.BeforeChangeCodeView"
            id="RefReview.BeforeChangeCodeView"
            name="Code before change"
            restorable="true">
      </view>
      <view
            class="edu.dlf.refactoring.ui.AfterChangeCodeView"
            id="RefReview.AfterChangeCodeView"
            name="Code after change"
            restorable="true">
      </view>
      <view
            class="edu.dlf.refactoring.ui.DiffTreeView"
            id="RefReview.DiffTreeView"
            name="Diff Structure"
            restorable="true">
      </view>
      <view
            class="edu.dlf.refactoring.ui.CodeViewAfterHiding"
            id="RefReview.AfterHidingCodeView"
            name="Code after hiding refactorings"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.dlf.refactoring.ui.ReviewPerspectiveFactory"
            id="RefReview.CodeReviewPerspective"
            name="Code Review">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="RefReview"
            defaultHandler="edu.dlf.refactoring.ui.RefReviewCommandHandler"
            id="RefReview.CalculateDiff"
            name="Calculate Diff">
      </command>
      <command
            categoryId="RefReview"
            defaultHandler="edu.dlf.refactoring.ui.RefReviewCommandHandler"
            id="RefReview.ChangeViewedCode"
            name="Change View">
      </command>
      <command
            categoryId="RefReview"
            defaultHandler="edu.dlf.refactoring.ui.RefReviewCommandHandler"
            id="RefReview.import"
            name="Import projects">
      </command>
      <command
            categoryId="RefReview"
            defaultHandler="edu.dlf.refactoring.ui.RefReviewCommandHandler"
            id="RefReview.clearWorkspace"
            name="Clear workspace">
      </command>
      <command
            categoryId="RefReview"
            defaultHandler="edu.dlf.refactoring.ui.RefReviewCommandHandler"
            id="RefReview.startStudy"
            name="Start study">
      </command>
   </extension>
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Review"
               mnemonic="M"
               id="dlf.refactoring.review.menu">
            <command
                  commandId="RefReview.CalculateDiff"
                  icon="img/favicon.ico"
                  id="dlf.refactoring.review.menu.command"
                  mnemonic="S"
                  tooltip="Calculate Diff">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dlf.refactoring.review.toolbar">
            <command
                  commandId="RefReview.CalculateDiff"
                  icon="img/favicon.ico"
                  id="dlf.refactoring.review.toobar.command"
                  tooltip="Calculate Diff">
            </command>
            <command
                  commandId="RefReview.import"
                  icon="img/soccer.jpg"
                  style="push">
            </command>
            <command
                  commandId="RefReview.startStudy"
                  icon="img/soccer.jpg"
                  style="push"
                  tooltip="Run study">
            </command>
            <command
                  commandId="RefReview.clearWorkspace"
                  icon="img/1.png"
                  style="push"
                  tooltip="Clear workspace">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
